 /*--------------------------------------------------mobile---------------------------------------------*/
 /** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito";
}
.row{
  min-width: 320px;
    margin: 0 auto;
}
.row1{
  min-width: 320px;
    width: 100%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c4b35;
}

   
   .eMail {
    display: non;
   }*/
  
  

  
/*---------------------------------desktop----------------------------------*/
@media (min-width: 1440px) {
*  {
 box-sizing: border-box;
  }
  .row{
    max-width: 1420px; margin: 0 auto;
  }
  .row1{

    max-width: 1420px;
    font-family: "Poppins";
    
   padding: 20px 70px 15px 70px; 
   display: flex;
   text-align: right;
   font-size: 14px;
   background-color: #0c4b35;
   justify-content: flex-end ;
  }
  .row2{
    padding: 15px 70px 15px 70px; 
    display: flex;
    color: green;
    background-color: #ffffff;
  }
  .row3{
    margin: 50px 200px;
  }
    .arrow {
    background-image: url("icon/arrow-down-white.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-x: 50px;
    background-position-y:top ;
    color: white; 
  }
  .arrow_2 {
    background-image: url(icon/arrow-down-black.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    color: #212529; 
    background-position-x: 40px;
    background-position-y:center ;
  }
  .arrow_3 {
    background-image: url(icon/arrow-down-green.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-x: 50px;
    background-position-y:top ;
    color: #00730C; 
  }
  .lang{
    width: 67px;
    margin-left: auto;
   text-align: left;
  }
  .lang a{
     text-decoration: none;
     
  }
 
.email-icon{
  width: 25px;
  height: 25px;
  background-image: url(icon/email.svg);
  background-repeat: no-repeat;
} 
 .eMail{
width: 170px;
text-align: right;
text-align: right;
 background-image: url(icon/email.svg);
 background-repeat: no-repeat;
 }
 .eMail a, .call a, .lok a{color: white;}

 .call{
  width: 150px;
  height: 20px;
 margin-left: 5%;
 text-align: right;
background-image: url(icon/phone.svg);
background-repeat: no-repeat;
 }
 .lok{
  width: 250px;
 margin-left: 5%;
 text-align: right;
background-image: url(icon/locations.svg);
background-repeat: no-repeat;
 }
 .wrap-menu{margin-left: 350px;}
 .menu{
  list-style-type: none;
  display: flex;
  
 }
 .menu a{
  text-decoration: none;
  align-items: center;
  margin: 10px;
  text-align: left;
  font-size: 16px;
  padding-right: 20px;
  background-position-x: right;
  }
  .menu li{
    width: 80px;
  }
  .menu a:hover {
    color: #00730C;}
  .button{
  margin-left: auto;
  }
  /*----------------task2--------------------------------*/
  .row_task2{
    height: 719px;
    /*border: 2px solid black;*/
    display: flex;
    background: linear-gradient(to right, #83ca8a, 60%, #fbf6ee);
  }
  .task2_2{
    margin-top: auto;
    margin-left: auto;
    width: 50%;
  }
   .task2_1{
    margin:8% 0 8% 15%;

    /*border: 2px solid green;*/
  }
.Task_2_1_Text1{
width: 220px;
height: 20px;
text-align: right;
background-image: url(icon/plants_sm.svg);
background-repeat: no-repeat; 
font-size: 20 px;
  }
  .Task_2_1_Text2{
    
    font-size: 40px;
    font-weight: bold;
  }
  .Color_green{
    color: #00730C;
  }
  .GetAQuate p{
    display: inline-block;
    margin: 40px 10px 60px 10px;
   background-image: url(icon/right.svg);
   background-repeat: no-repeat; 
   background-position-x: right;
   min-width: 130px;
   color: #676767;
  }


   .button_GetAQuate{
    background-color:#00730C;
    color: white;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 120px;
   }
.Task_2_1_Text3{
  color: #676767;}

.Task_2_1_Text4_1, .Task_2_1_Text4_2,.Task_2_1_Text4_3{
  background-repeat: no-repeat; 
  height: 50px;
  display: inline-block;
 padding-right: 60px;

}
.Task_2_1_Text4_1 p, .Task_2_1_Text4_2 p, .Task_2_1_Text4_3 p {
  padding-left: 60px;
  width: 90px;
  margin-top: 8px; 
}
.Task_2_1_Text4_1{background-image: url(icon/500+.svg);}
.Task_2_1_Text4_2{background-image: url(icon/800+.svg);}
.Task_2_1_Text4_3{background-image: url(icon/100+.svg);}
/*---------------------------------------------------------------task3--------------------------------------------------------------*/
.Text_3_1{
  color: black;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
  .Text_3_1_1{
    color: #00730C;
  }
  .Text_3_2{
  color: #676767;
  font-size: 20px;
  text-align: center;
  }
  .conteiner{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
/*------------------------------------block1--------------------------------------------------------------*/
.block1,.block2, .block3, .block4, .block5, .block6, .block7, .block8{
width: 23%;
height: 360px;
box-shadow: 5px 10px 18px #888888;
background-color: #00730C;
border-radius: 10px;
color: white;
background-image: url(icon/T3-1.svg), url(icon/T3-1–.svg);
background-position: 50% 10%, 50% 20%;
background-repeat: no-repeat, no-repeat; 
}
.block1_text_1, .block2_text_1, .block3_text_1, .block4_text_1, .block5_text_1, .block6_text_1, .block7_text_1, .block8_text_1{
  text-align: center; margin-top: 175px;
  font-size: 24px;
}
.block1_text_2,.block2_text_2,.block3_text_2,.block4_text_2, .block5_text_2,.block6_text_2,.block7_text_2,.block8_text_2{
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
}
/*------------------------------------block2--------------------------------------------------------------*/
.block2, .block3, .block4, .block5, .block6, .block7, .block8{
box-shadow: 5px 10px 18px #888888;
background-color: white;
color:black;
background-image: url(icon/T3-2.svg), url(icon/T3-2–.svg);
  }
    /*------------------------------------block3--------------------------------------------------------------*/  
  .block3{
    background-image: url(icon/T3-3.svg), url(icon/T3-3–.svg);}
  /*-----------------------------------block4----------------------------------------------------------*/
  .block4{
    background-image: url(icon/T3-4.svg), url(icon/T3-4–.svg);}
  /*-----------------------------------block5----------------------------------------------------------*/
  .block5{
    background-image: url(icon/T3-5.svg), url(icon/T3-5–.svg);}
  /*-----------------------------------block6----------------------------------------------------------*/
  .block6{
    background-image: url(icon/T3-6.svg), url(icon/T3-6–.svg);}
 .block7{
  background-image: url(icon/T3-7.svg), url(icon/T3-7–.svg);}
  .block8{
  background-image: url(icon/T3-8.svg), url(icon/T3-8–.svg);}
 
 /*-----------Homework-16---------------------------------------4block------------------------------------------*/
 .row4{
  display: flex;
 }
 .palma{
  width: 15%;height: 850px;
  background-image: url(icon/palma.svg);
  background-repeat: no-repeat;
  background-position: top 10px right -50px;
 }
 .blocks3{
  width: 35%;
  height: 850px;
  }
 .block_text_4{
  width: 34%;height: 850px;
 }
 .text40{ 
  font-size: 40px;
  margin: 80px 0 40px 0;
}
.text20{font-size: 20px;}

.Task_4_Ball1, .Task_4_Ball2,.Task_4_Ball3, .Task_4_Ball4{
  background-repeat: no-repeat; 
  height: 70px;
  display: inline-block;
  margin-top: 60px;
  margin-right: 35px;
}
.Task_4_Ball1 p, .Task_4_Ball2 p , .Task_4_Ball3 p, .Task_4_Ball4 p{
  padding-left: 75px;
  width: 200px;
  margin-top: 22px; 
  font-size: 22px;
}
.Task_4_Ball1{background-image: url(icon/t41.svg)}
.Task_4_Ball2{background-image: url(icon/t42.svg)}
.Task_4_Ball3{background-image: url(icon/t43.svg)}
.Task_4_Ball4{background-image: url(icon/t44.svg)}

.Task_4_Button{
  margin-top: 60px;

  
}
.button_Discover{
  background-color:#00730C;
  color: white;
  border: none;
  border-radius: 3px;
  height: 50px;
  width: 170px;
  font-size: 16px;
}
/*----------task5------------------------------------------------*/
.row5{
  background-color: #0C4B35;
  color: white;
}
.conteiner5{
  display: flex;
padding: 60px 220px;
}
.Task_5_Text{
  margin-right: 40px;
}
.Task_5_Image{
  margin-top: 13%;
}

.Task_5_Ball{
  background-repeat: no-repeat; 
  height: 50px;
  display: inline-block;
  margin-top: 30px;
}
.Task_5_Ball p{
  padding-left: 60px;
  width: 215px;
  margin-top: 10px; 
  font-size: 22px;
}
.Task_5_Ball{background-image: url(icon/t5-ball.svg)}
.Task_5_Ball{background-image: url(icon/t5-ball.svg)}
.Task_5_Ball{background-image: url(icon/t5-ball.svg)}
.Task_5_Ball{background-image: url(icon/t5-ball.svg)}
}
/*----------------Task6-------------------------------------------------*/
.row6{
  margin: 0 200px;
}
.text40{font-weight: bold;}
.Task_6_Text{text-align: center; padding: 40px;}
.container_Task_6{
  display: flex;
  gap: 20px;
    flex-wrap: wrap;
}

.block6-1, .block6-2, .block6-3, .block6-4{
width: 23%;
height: 360px;
box-shadow: 5px 10px 18px #888888;
background-color: white;
border-radius: 10px;
color:#676767;
background-image: url(icon/T6-1.svg), url(icon/t6_list.svg);
background-position: 12% 10%, 90% 50%;
background-repeat: no-repeat, no-repeat; 
padding: 20px;
}
.block6-2{background-image: url(icon/T6-2.svg), url(icon/t6_list.svg);}
.block6-3{background-image: url(icon/t6-3.svg), url(icon/t6_list.svg);}
.block6-4{background-image: url(icon/t6-4.svg), url(icon/t6_list.svg);}

.block6-1:hover, .block6-2:hover, .block6-3:hover, .block6-4:hover{
  background-color:#00730C;
  color: white;
  background-image: url(icon/T6-1-white.svg), url(icon/T6-list-grey.svg);
  cursor: pointer;
}
.block6-2:hover{background-image: url(icon/T6-2-white.svg), url(icon/T6-list-grey.svg);}
.block6-3:hover{background-image: url(icon/T6-3-white.svg), url(icon/T6-list-grey.svg);}
.block6-4:hover{background-image: url(icon/T6-4-white.svg), url(icon/T6-list-grey.svg);}



.Task_6_Text1, .Task_6_Text12, .Task_6_Text13, .Task_6_Text14{
  text-align: right;
  font-size: 80px;
  font-weight: bold;
  color: #E3E3E3;
 }
 .Task_6_Text2, .Task_6_Text22, .Task_6_Text23, .Task_6_Text24{
 font-weight: bold;
 font-size: 20px;
 padding: 25px 0;
 }
 /*------------------Task7-------------------------------------------------*/
 .row7{
  margin: 50px 200px;
}
.container_Task_7{
height: 175px;
background-color: #C4C4C4;
border-radius: 10px;
text-align: right;
display: flex;flex-direction: column; 
position: relative;
}
.Task_7_Text{
  width: 350px;
 display: flex;
 
  font-size: 30px;
  color: white;
 margin-left: 40%;
 margin-top: 25px;
}
.button_CallUs{
background-color: white;
color: #00730C;
border: none;
border-radius: 3px;
height: 50px;
width: 170px;
font-size: 20px;
text-align: right;
position: absolute;
right: 45px;
top: 65px;
padding-right: 20px;
background-image: url(icon/callUs.svg);
background-repeat: no-repeat;
background-position: 25% 50%;
}
/*---------------------------block9 slider--------------------------------------*/
.row9{
  width: 100%;
  height: 400px;
  background-color: darkseagreen;
  position: relative;
}
.conteiner9{
  position: absolute;
left: 14%;
top: 10%;
  
  width: 72%;
  height: 100%;
  
}
.Task_9_text{
 
font-size: 40px;
font-weight: bold;
width: 60%;
}
.Task9_text2{
  width: 60%;
  border: 1px solid white;
}
/*----------------------------------*/
.slider{
position: relative;

}
.slider .slick-arrow{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.slick-prev:before, .slick-next:before{
  display: block;
  width: 50px;
  height: 50px;
  content: '';
  background-repeat: no-repeat;
  
}
.slick-prev:before{background-image: url(icon/arrow-prev-white.svg) ;}
.slick-next:before{background-image:url(icon/arrow-next-white.svg) ;}

.slick-prev:hover:before{background-image: url(icon/arrow-prev-green.svg) ;}
.slick-next:hover:before{background-image:url(icon/arrow-next-green.svg) ;}

